/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme1 {background: #1c1c1c; color: #fff;}


.red{color: red; padding: 4px;}